@media screen and (max-width: 1300px) and (min-width: 1025px) {
	.hero-banner .bx-wrapper li.item {
		padding:  0 30px;
	}

	.hero-banner .get-started {
		left: 30px;
		bottom: 0px;
	}

	.slide-content h1 {
		font-size: 32px;
	}

	.hero-banner .bx-wrapper .bx-pager {
		right: 30px;
		left: auto;
		text-align: right;
	}

	.nav ul li {
		margin-right: 3%;
	}
}