body {
    background: #e7ecef;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    padding-top: 100px;
    transition: all 0.3s ease-in;
}

h1, h2, h3, h4, h5, p {
    margin-top: 0;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 0;
}

h1, h2 {
    font-family: 'Rubik', sans-serif;
}

a {
    color: #045e9f;
}

a:visited {
    color: #045e9f;
}

a:active {
    color: #00a3e7;
}

*:not(.post) ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body * {
    box-sizing: border-box;
}

body figure {
    padding: 0;
    margin: 0;
}

.page-wrap {
    max-width: 1280px;
    margin: 0 auto;
    transition: all 0.3s ease-in;
}

.top-bar {
    background: #c0d9ea;
background: -moz-linear-gradient(top, #c0d9ea 0%, #ffffff 100%);
background: -webkit-linear-gradient(top, #c0d9ea 0%,#ffffff 100%);
background: linear-gradient(to bottom, #c0d9ea 0%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0d9ea', endColorstr='#ffffff',GradientType=0 );
    height: 110px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
    transition: all 0.3s ease-in;
}

.ecomm-bar {
    background: #006699;
/* background: -moz-linear-gradient(top, #0099cc 0%, #006699 100%);
background: -webkit-linear-gradient(top, #0099cc 0%,#006699 100%);
background: linear-gradient(to bottom, #0099cc 0%,#006699 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099cc', endColorstr='#006699',GradientType=0 ); */
    height: 46px;
}

.hero-banner {
    background: #ccc;
    overflow: hidden;
    position: relative;
    border-bottom: solid 1px #ddd;
}

.hero-banner .myaccount-panel {
    position: absolute;
    right: 0;
    height: 200px;
    bottom: 0;
    width: 320px;
    background: #fff;
    z-index: +1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px 8px 0 0;
}

.bxslider li {
    background: #fff;
}

.bx-wrapper {
    border: none;
    max-height: auto;
}

.bxslider li img {
    display: block;
    height: 600px;
    float: right;
    max-width: auto;
    margin: 0;
    width: auto;
}

.bx-wrapper .bxslider li img {
    max-width: auto;
}

.bx-controls.bx-has-controls-direction.bx-has-pager {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}


.hero-banner .bx-wrapper .bx-pager {
    bottom: 90px;
    left: 0;
    text-align: left;
    z-index: +10;
}

.hero-banner .bx-wrapper {
    margin-bottom: 0;
}

.bx-wrapper .bx-controls-direction a {
    bottom: 200px;
    top: auto;
}

.bx-wrapper .bx-next {
    right: -40px;
    display: none;
    z-index: +1;
}

.bx-wrapper .bx-prev {
    left: -40px;
    display: none;
    z-index: +1;
}

nav ul {
    list-style: none;
}

.nav-wrap {
    height: 64px;
}

.nav ul {
    height: 64px;
    font-size: 14px;
}

.nav ul li {
    display: inline-block;
    height: 64px;
    margin-right: 7%;
    vertical-align: top;
}

.nav-wrap {
    position: relative;
}

.nav ul li:last-child {
    margin-right: 0;
}

.nav ul li a {
    display: inline-block;
    height: 64px;
    line-height: 64px;
    text-decoration: none;
    color: #00517f;
    font-weight: 500;
    transition: all 0.15s ease-in-out;
    position: relative;
}

.nav ul li a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 3px;
    background: #66cc33;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.nav ul li a:hover:after {
    opacity: 1;
}

.col-3.branding {
    text-align: center;
}

.branding a {
    display: block;
    text-align: center;
    padding-top: 10px;
    overflow: hidden;
    width: 180px;
}

.branding a img {
    display: inline-block;
    height: 44px;
    width: auto;
}

.secondary-nav.nav ul.menu {
    text-align: right;
}

.ecomm-bar ul li a i {
    font-size: 18px;
    display: inline-block;
    line-height: 46px;
    vertical-align: top;
    margin-right: 8px;
}

.ecomm-bar {
    color: #fff;
    font-size: 13px;
}

.ecomm-bar a {
    color: #fff;
    text-decoration: none;
}

.user-menu {
    height: 46px;
    text-align: right;
}

.user-menu li {
    display: inline-block;
    height: 46px;
}

.user-menu li a {
    display: inline-block;
    height: 46px;
    line-height: 46px;
    margin-left: 20px;
}

.callphone {
    display: inline-block;
    height: 46px;
    line-height: 46px;
    font-weight: 400;
    font-size: 17px;
}

.callphone span {
    display: inline-block;
    margin-right: 15px;
}

.bxslider .item .slide-wrap {
    position: relative;
    width: 100%;
}

.bxslider .item .slide-wrap figure {
    z-index: 10;
    height: 600px;
    overflow: hidden;
    float: left;
    background: #000;
    width: 100%;
}

.bxslider .item .slide-wrap figure img {
    max-width: none !important;
    opacity: 0.8;
}

.bxslider .item .slide-wrap .slide-content {
    z-index: 11;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

.bxslider .item .slide-wrap .slide-content .slide-content-wrap {
    position: absolute;
    margin-top: 7%;
    max-width: 55%;
    z-index: 11;
}


.bx-wrapper {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    border:  none;
}

.slide-content h1 {
    margin-bottom: 1.5rem;
    color: #fff;
    font-size: 46px;
    line-height: 1.1em;
}

.slide-content p {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
}

.page-wrap.gs-wrap {
    position: relative;
    height: 0px;
}

.hero-banner .get-started {
    position: absolute;
    left: 0;
    bottom: 150px;
    width: 820px;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
}

.hero-banner .get-started .signup-panel {
    background: rgba(0, 0, 0, 0.5);
}

.hero-banner .get-started .login-panel {
    background: rgba(255, 255, 255, 0.8);
}


.gs-panels {
    padding: 20px;
    text-align: center;
}

.get-started h3 {
    font-weight: 500;
}

.signup-panel h3 {
    color: #fff;
}

.login-panel button {
    display: inline-block;
    height: 40px;
    line-height: 38px;
    text-transform: uppercase;
    border: none;
    background: #fff;
    border:  solid 1px #005595;
    color: #005595;
    font-weight: 700;
    border-radius: 6px;
    margin-left: -3px;
    vertical-align: top;
    padding: 0 15px 0 0;
    overflow: hidden;
}

.login-btn span {
    display: inline-block;
    background: #005595;
    color: #fff;
    line-height: 38px;
    box-sizing: border-box;
    vertical-align: top;
    width: 50px;
    text-align: center;
    margin-right: 13px;
}

.zip-field .location {
    position: absolute;
    top: 0;
    height: 40px;
    line-height: 43px;
    right: 0;
    width: 40px;
    font-size: 25px;
    color: #ce2f60;
    text-decoration: none;
}

.login-panel h3 {
    color: #005595;
}

.zip-field,
.login-field {
    position: relative;
    padding: 10px 0;
}

.zip-field .field {
    height: 40px;
    border-radius: 6px 0 0 6px;
    border:  solid 1px #fff;
    display: inline-block;
    width: 200px;
    position: relative;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.zip-field .field input {
    width: 100%;
    height: 40px;
    display: block;
    border: none;
    background: transparent;
    outline: none;
    padding:  0 10px;
    vertical-align: top;
}

.zip-field .field .fa {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 10px;
    right: 10px;
}

.zip-field button {
    display: inline-block;
    width: 130px;
    height: 40px;
    line-height: 38px;
    text-transform: uppercase;
    border:  none;
    background: #ce2f60;
    color: #fff;
    font-weight: 700;
    border-radius: 0 6px 6px 0;
    margin-left: -3px;
    vertical-align: top;
}

#fa-btn {
    width: 70px;
    height: 70px;
    background: #0099cc;
    border-radius: 70px;
    position: fixed;
    z-index: 1001;
    right: 3em;
    bottom: 3em;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
}


.content-block {
    padding: 4rem 0;
}

.medium-grey {
    background: rgba(255, 255, 255, 0.5);
}

.shaded-grey {
    background: #fafafa;
}

.cat-item {
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.cat-item figure.image-thumb {
    height: 70px;
    display: block;
    box-sizing: content-box;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.cat-item figure.image-thumb svg {
    display: inline-block;
    height: 80px;
    width: auto;
    vertical-align: top;
    transition: all 0.1s ease-in-out;
}

.cat-item:hover figure.image-thumb svg {
    height: 100px;
    width: auto;
    margin-top: -10px;
}

.cat-item figure svg path,
.cat-item figure svg polygon,
.cat-item figure svg rect {
    shape-rendering: crispEdges;
    fill: #006699;
    transition: all 0.2s ease-in-out;
}

.cat-item:hover figure svg path,
.cat-item:hover figure svg polygon,
.cat-item:hover figure svg rect {
    fill: #0099cc;
}

.section-heading {
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 10px;
    display: block;
    color: #777;
}

.content-block .intro-txt {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    margin-bottom: 3rem;
}

.cat-item {
    text-decoration: none;
    background: #fff;
    padding: 1rem 1.5rem;
    border: 1px #eee;
    border-style: none solid none none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    position: relative;
}

.cat-item:hover {
    box-shadow: 1px 1px 30px rgba(0, 0, 0, .3);
    z-index: +1;
}

.page-wrap .cat-item:last-child {
    border-right: none;
    border-radius: 0 10px 10px 0
}

.page-wrap .cat-item:first-child {
    border-radius: 10px 0 0 10px;
}

.cat-item .text h3 {
    padding-top: 15px;
    display: block;
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #006699;
    transition: all 0.2s ease-in-out;
    font-weight: 400;
}

.cat-item:hover .text h3 {
    color: #0099cc;
}

.cat-item .text p {
    margin: 0;
    color: #777;
    line-height: 1.4;
}

.content-block.how-it-works {
    position: relative;
    overflow: hidden;
    background: #000;
    padding: 3.5rem 0;
}

.content-block.how-it-works .parallax-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.content-block.how-it-works .parallax-img img {
    width: 120%;
    height: auto;
    opacity: 0.3;
}


.content-block.parallax {
  overflow: hidden;
  position: relative;
  padding: 60px 0 80px;
}

.parallax .parallax-img {
  position: absolute;
  right: 0;
  display: block;
  height: auto;
  top: -600px;
  z-index: 1;
}

.parallax .parallax-img img {
    height: 130%;
    width: auto;
}


.parallax .page-wrap,
.parallax .intro-txt {
    position: relative;
    z-index: +1;
}

.parallax .page-wrap {
    max-width: 1020px;
}

.parallax .intro-txt h2 {
    color: #fff;
}

.feature-box {
    text-align: center;
    padding: 10px 10px;
    padding-bottom: 40px;
    transition: all 0.4s ease-in;
}

.feature-box:last-child {
    border-right: none;
}

.feature-box-inner {
    background: #fff;
    position: relative;
    transition: all 0.2s ease-in-out;
    padding: 20px;
    border-radius: 6px;
}

.feature-box-inner .number {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    background: #ffc;
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -30px;
    border: solid 2px #ce2f60;
    color: #ce2f60;
}

.feature-box-inner:hover {
    z-index: +1;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);   
}

.feature-box-inner figure {
    border: solid 1px rgba(255, 255, 255, 1.0);
}

.feature-box-inner h3 {
    margin: 1rem 0;
}

.how-it-works .intro-txt {
    margin-bottom: 50px;
}

.feature-box-inner .button {
    display: inline-block;
    margin: 15px 0;
    height: 40px;
    line-height: 40px;
    background: #fff;
    padding: 0 15px;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 6px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}


.feature-box-inner figure {
    padding: 30px 10px 10px;
    text-align: center;
    background: #fff;
}

.feature-box-inner figure img {
    height: 90px;
    width: auto;
}

.feature-box:first-child .feature-box-inner figure svg path {
    fill: #006699;
}

.feature-box:nth-child(2) .feature-box-inner figure svg path {
    fill: #99cc99;
}


.feature-box:nth-child(3) .feature-box-inner figure svg path,
.feature-box:nth-child(3) .feature-box-inner figure svg circle {
    fill: #ff9933;
}

.stories.content-block {
    background: #fff;
}

.story-item {
    position: relative;
}


.story-item .text-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    position: relative;
}


.story-item .feature-image {
    overflow: hidden;
    height: 360px;
    background: #000;
    position: relative;
}


.story-item .feature-image:after,
.story-item .feature-image:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
}

.story-item .feature-image:before {
    top: -190px;
    bottom: 0;
    right: -690px;
    width: 740px;
    background: rgba(0, 0, 0, 0.2);
    z-index: +1;
    filter: blur(15px);
    height: 740px;
    border-radius: 1100px;
}

.story-wrap .story-item:nth-child(even) .feature-image:before {
    right: auto;
    left: -690px;
}

.story-wrap .story-item .feature-image:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: +1;
    top: 15%;
}

.story-wrap .story-item:nth-child(odd) .feature-image:after  {
   
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right:20px solid #fff; 
    right: 0;
}

.story-wrap .story-item:nth-child(even) .feature-image:after {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fff;
    left: 0;
    right: auto;
}


.story-item .feature-image img {
    width: 110%;
    height: auto;
    opacity: 0.9;
}

.story-item h3 {
    margin-bottom: 20px;
    font-size: 2.2em;
    line-height: 1;
    color: #006699;
    font-weight: 300;
}

.story-item .text-section .container {
    padding: 0 3em;
}

.story-item .text-section .container p {
    font-size: 1.1em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #666;
}


.nav ul li.nav-icon {
    font-size: 40px;
}

.nav ul li.nav-icon a {
    padding-top: 3px;
    vertical-align: top;
}

.feature-box {
    position: relative;
}

.feature-box:after {
    content: '';
    display: block
}

.location-bar .location {
    height: 64px;
    position: relative;
}

.location-bar .location span,
.location-bar .location a {
    height: 64px;
    line-height: 64px;
    display: inline-block;
    padding-right: 10px;
    vertical-align: top;
}

.location-bar .location .zip-code {
    font-weight: 500;
    color: #006699;
}

.location a {
    text-decoration: none;
    color: #ce2f60;
    font-size: 20px;
}

#globalNav {
    position: fixed;
    right: -20px;
    width: 0px;
    background: #fff;
    top: 0;
    bottom: 0;
    z-index: 999;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease-in;
    box-shadow:  -5px 5px 30px rgba(0, 0, 0, 0.2);
}

#globalNav.show {
    width: 320px;
    right: 0;
    opacity: 1;
}

body.nav-opened .top-bar {
    right: 300px;
}

#navTrigger .opened {
    color: #ce2f60;
}

form.search {
    height: 44px;
    padding: 10px;
}

.search-bar {
    position: relative;
}

.search-field {
    height: 44px;
    width: 100%;
    position: relative;
    border-radius: 22px;
    overflow: hidden;
    background: #fff;
    border: solid 1px #006699;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-field input#search {
    background: transparent;
    border: none;
    display: block;
    width: 100%;
    height: 44px;
    border-radius: 22px;
    padding: 0 15px;
    outline: none;
}

.search-field .search-btn   {
    position: absolute;
    z-index: +1;
    background: transparent;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 44px;
    line-height: 44px;
    right: 0;
    border: none;
    display: block;
    font-size: 22px;
    color: #ce2f60;
    outline: none;
}

.search-result {
    position: absolute;
    left: 0;
    right: 0;
    top: 64px;
    background: #fff;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    max-height: 0px;
    opacity: 0;
    z-index: -100;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.search-panel.in-focus .search-result {
    display: block;
    max-height: 100vh;
    opacity: 1;
    z-index: +1;
    pointer-events: all;
}

.search-result .result-item {
    padding: 15px;
    border-bottom: solid 1px #ddd;
}

.search-result .result-item:hover {
    background: #ffe;
}

.search-result .result-item a {
    display: block;
}

.result-item figure.thumb {
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    border:  solid 1px #ddd;

}

.result-item figure.thumb img {
    height: 100%;
    width: auto;
}

.result-item .result-txt {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 70px);
    padding-left: 10px;
}

.result-txt span.cat {
    display: inline-block;
    font-size: 10px;
    padding: 3px 10px;
    border-radius: 10px;
    color: #fff;
    background: #555;
}

.result-txt span.cat.product {
    background: #32b88d;
}


.result-txt span.cat.articles {
    background: #d5881b;
}

.result-txt span.cat.page {
    background: #0b578e;
}



.result-txt h3 {
    font-size: 13px;
    margin: 5px 0;
}

.result-txt h3 em {
    display: block;
    font-weight: 400;
    color: #555;
}

.result-txt p {
    font-size: 12px;
    color: #555;
    padding: 0;
    margin: 0;
}

.search-result .result-btns {
    padding: 15px;
}

.search-result .result-btns .view-all {
    display: inline-block;
    height: 30px;
    padding: 0 15px;
    line-height: 30px;
    text-decoration: none;
    border:  solid 1px #0b578e;
    color: #0b578e;
    border-radius: 8px;
    margin-right: 10px;
}

.search-result .result-btns .result-number {
    font-size: 14px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    padding: 0 10px;
    font-style: italic;
}

.feature-box-inner figure svg {
    height: 120px;
}

a.button.ghost {
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    border: solid 1px;
    display: inline-block;
    padding: 0 20px;
    border-radius: 20px;
}

a.chat-icon {
    padding: 15px 0 0;
    text-align: center;
    display: block;
} 

a.chat-icon svg {
    height: 40px;
    width: auto;
    display: inline-block;
}

a.chat-icon svg path {
    fill: #fff;
}

.location a.edit {
    font-size: 11px;
    color: #888;
}


.testimonial-wrap {
    position: relative;
}

.testimonial-wrap .testimonial-item {
    height: 240px;
    padding: 0 45px;
}

.testimonial-wrap .pagination {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    text-decoration: none;
    color: #555;
    font-size: 60px;
}

.testimonial-wrap .pagination.left {
    left: -50px;
}

.testimonial-wrap .pagination.right {
    right: -50px;
    left: auto;
}

.testimonial-wrap .testimonial-item .ti-wrap {
    background: #fff;
    height: 240px;
    position: relative;
    border-radius: 30px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}

.ti-wrap .icon {
    position: absolute;
    width: 90px;
    height: 90px;
    left: -45px;
    top: 45px;
    background: #fff;
    border-radius: 90px;
    border: solid 2px #e7ecef;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    line-height: 90px;
    text-align: center;
    font-size: 60px;
}

.ti-wrap .icon i {
    transform: rotate(180deg);
    display: inline-block;
    color: #0099cc;
}

.ti-wrap p {
    font-size: 16px;
    line-height: 1.6;
    display: block;
    margin: 0;
    padding-left: 64px;
    padding-top: 35px;
    padding-right: 37px;
    color: #777;
}

.ti-wrap h4 {
    color: #0b578e;
    padding-left: 64px;
    margin-top: 20px;
}

.partner-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.partner-list li {
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
}

.partner-list li a {
    color: #555;
    font-weight: bold;
    text-decoration: none;
}

.partner-list li a .logo {
    display: block;
    margin:  0 auto;
    height: 90px;
}

.partner-list li a .logo img {
    height: 100%;
    width: auto;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    transition: all 0.3s ease-in-out;
    opacity: 0.7;
}

.partner-list li a:hover .logo img {
     -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}


.outro-txt {
    padding: 60px 0 0;
    text-align: center;
}

.outro-txt p,
.outro-txt a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.outro-txt a.cta-btn {
    height: 40px;
    margin-left: 10px;
    line-height: 40px;
    padding: 0 15px;
    border:  solid 1px;
    text-decoration: none;
    border-radius: 20px;
}

.hero-content {
    height: 620px;
    overflow: hidden;
}

.bg-vid {
    max-height: 620px;
    overflow: hidden;
    background: #000;
}

.bg-vid video#bgvid {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.vid-banner .get-started {
    left: 50%;
    margin-left: -400px;
    bottom: 160px;
}

.hero-vid-content {
    position: absolute;
    top: 100px;
    z-index: +1;
    text-align: center;
    width: 100%;
    color: #fff;
}

.hero-vid-content h1 {
    font-size: 60px;
    margin-top: 60px;
}

.hero-vid-content p {
    font-size: 28px;
}

.terms {
    text-align: center;
}

.terms-wrap {
    text-align: center;
}

.terms-wrap a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border:  solid 1px ;
    padding: 0 10px;
    border-radius: 20px;
    margin: 0 10px;
    text-decoration: none;
}

.page-footer {
    height: 300px;
    background: #444;
}