@media screen and (min-height: 800px) and (min-width: 1281px) {

  .hero-banner,
  .slide {
    height: 700px;
  }

}


@media screen and (min-height: 650px) and (max-height: 799px) {

  .hero-banner,
  .slide {
    height: 500px;
  }
  .hero-banner h2 {
    font-size: 62px;
  }
}


@media screen and (max-width: 1024px) {
  
  body {
    font-size: 13px;
  }

  .related-case-studies li h3 {
    font-size: 13px;
  }

  .related-case-studies li {
    width: 100%;
    border-right: solid 1px #dce1e5;
    padding: 10px;
  }

  .related-case-studies li:last-child {
    display: none;
  }

  .coe-block .cb-wrap {
    padding: 20px;
  }

  .cb-wrap .icon {
    width: 90px;
    height: 90px;
    border-radius: 90px;
  }

  .cb-wrap .icon svg {
    width: 75px;
    height: auto;
  }
  
  .process-section .page-wrap,
  .services-section .page-wrap {
    max-width: 650px;
  }
  
  .hero-banner,
  .slide {
    height: 500px;
  }
  
  .hero-banner h2 {
    font-size: 60px;
  }

  .feature-block .section-heading h2.sub-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .hero-banner .mouse-anim {
    bottom: -95px;
  }

  .parallax-feature .feature-img {
    border-radius: 0;
  }
  .hero-banner .wave {
    overflow: hidden;
  }

  body {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
  }
  .nav-bar > ul > li a {
    width: 60px;
  }

  header.top-nav {
    height: 60px;
    position: relative;
  }
  

  .top-nav .row {
    height: 60px;
  }
  .top-nav .row .branding {
    width: 45%;
  }

  .nav-bar.col {
    width: auto;
  }

  .page-wrap {
    padding: 0 20px;
    width: 100%;
  }

  .main-nav.row {
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    width: 120px;
  }

  .main-nav li:not(.navicon) {
    display: none;
  }

  .hero-banner h2 {
    text-align: center;
  }

  .hero-banner .vertical-content p {
    text-align: center;
    margin: 0 auto;
  }

  .slider-wrap .animated-svg {
    width: 250px;
    height: 250px;
    right: 50%;
    top: auto;
    bottom: 0;
    left: auto;
    margin-right: -125px;
    z-index: -1;
  }
  
  .page-section.hero-banner {
    background: url('../img/mobile-bg.svg') no-repeat;
    background-position: center 100px;
    background-size: 80% auto;
  }
  .hero-banner, .slide {
    padding-top: 50px;
  }

  .hero-banner .aligner {
    display: block;
  }

  .slider-wrap .animated-svg {
    display: none;
  }
  
  .coe-wrap.row {
    flex-wrap: wrap;
  flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
  }
  .coe-wrap .coe-block.col-3,
  .coe-wrap .coe-block.col-4 {
    width: calc(8.33333%*6);

  }

  .slider-wrap .animated-svg svg {

  }

  header.top-nav {
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
  }

  .content-block {
    padding: 60px 0;
  }

  .feature-block .vertical-aligner {
    height: auto;
    min-height: 0;
  }

  .parallax-feature {
    width: auto;
    height: 100%;
  }
  
  .feature-block.content-block.scroll-section {
    padding: 0;
  }

  .feature-block.content-block.scroll-section .vertical-aligner {
    position: relative;
    height: 100%;
  }

  .feature-block.scroll-section .aligner {
    padding: 60px 40px;
  }

  .feature-block .parallax-feature {
    position: static;
    height: 1px;
  }
  .feature-block .row .col-6 .parallax-feature .feature-icon {
    width: 110px;
    height: 110px;
  }
  .feature-block .row .col-6:first-child .parallax-feature .feature-icon {
    left: 33%;
    right: auto;
    top: 70px;
    bottom: auto;
  }

  .feature-block .row .col-6:last-child .parallax-feature .feature-icon {
    left: auto;
    right: 33%;
    top: 70px;
    bottom: auto;
  }

  .related-case-studies li .logo-img img {
    max-width: 180px;
    height: auto;
    margin: 0 auto;
  }

  .parallax-feature .feature-img {
    position: absolute;
    margin-left: 0;
    border: none;
    left: 0;
    width: 50%;
    top: 0;
    bottom: -60px;
    margin-top: 0;
    height: auto;
  }

  .feature-block .row .col-6:last-child .parallax-feature .feature-img {
    margin-right: 0;
    left: auto;
    right: 0;
  }

  .cta-block .bg-img img {
    height: 110%;
    margin-top: -5%;
    margin-left: -5%;
    opacity: 0.8;
  }

  .cta-block .vertical-center {
    background: #fff;
  }

  .cta-block .vertical-center h2 {
    color: #e84b54;
  }

  .cta-section {
    padding: 30px;
  }

  .cta-section .column a {
    height: 320px;
  }

  .cta-section .page-wrap {
    padding: 0;
  }

  .row.footer-row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
  }

  .footer-col.col-3 {
    width: calc(8.33333%*6);
    text-align: center;
  }
  .footer-logo svg {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .hero-banner, .slide {
    height: 400px;
  }

  .hero-banner h2 {
    font-size: 32px;
  }

  .hero-banner, .slide {
    padding-top: 50px;
  }

  .coe-wrap .coe-block.col-3, .coe-wrap .coe-block.col-4 {
    width: 100%;
  }

  .hero-banner .wave {
    bottom: -80px;
  }

  .hero-banner .wave svg {
    width: 200%;
    height: auto;
    margin-left: -50%;
  }

  .hero-banner .mouse-anim {
    bottom: -40px;
  }

  .vertical-content p {
    font-size: 14px;
  }

  .typewriter .smallblack.js-letters.mast__text {
    font-size: 18px;
  }

    .main-nav li:not(.navicon) {
    display: none;
  }

  .page-wrap {
    max-width: 100%;
    overflow: hidden;
    width: 100%;
  }

  .cta-section .column {
    width: 100%;
  }
  
  .logo-list-wrap .logo-col {
    width: 50%;
  }

  .feature-block .vertical-aligner > .row > .col-6 {
    width: 100%;
  }

  .parallax-feature {
    width: 100%;
    margin-bottom: 30px;
    position: static;
  }

  .feature-block.scroll-section .vertical-aligner {
    overflow: hidden;
  }

  .feature-block .vertical-aligner .parallax-feature .feature-img {
    width: 100%;
    border-radius: 0;
    height: 300px;
    position: absolute;
    margin: 0 !important;
    left: 0;
    right: 0;
    top: auto;
    border: solid 1px #fff;
    top: 0;
    z-index: -1;
  }

  .feature-block .row .col-6:last-child .parallax-feature .feature-img {
    left: 0;
    right: 0 !important;
  }

  .feature-block .vertical-aligner header.section-heading {
    height: 260px;
  }
  .parallax-feature .feature-icon {
    top: 20px;
    right: 20px !important;
    left: auto !important;
    margin: 0 !important;
    bottom: auto;
    width: 80px;
    height: 80px;
    border-radius: 80px;
  }
  
  .feature-block .vertical-aligner header.section-heading h2 {
    text-shadow: 2px 2px 1px #fff;
  }

  .global-footer .footer-col.col-3 {
    width: 100%;
    overflow: hidden;
  }
}


